@font-face {
	font-family: "Indie Flower";
	font-style: normal;
	font-weight: 400;
	src: local("Indie Flower"),local(IndieFlower),url(//fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6nZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6nhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

/*@import 'normalize.css/normalize.css';*/

body {
	font-family: "Indie Flower";
}

a {
	color: #4D9Acc;
}

a:visited {
	color: #4D9Acc;
}

a:focus {
	color: #4D9Acc;
}

a:hover {
	color: #4D9Acc;
}

a:active {
	color: #4D9Acc;
}

@-webkit-keyframes widthAnimate {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes widthAnimate {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.bule_button, .red_button {
	border-radius: 0.5rem;
	padding: 1em;
	border-width: 0.0625rem;
	border-style: solid;
}

.autoprefixer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.cssnext {
	background: #000000;
	background: rgba(0, 0, 0, .1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0.5;
}

.precss {
	width: 50vm;
	width: 50vmin;
	font: 2rem Arial;
}

.precss h1 {
		color: red;
	}

.animateThis {
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	will-change: animation;
	-webkit-animation: widthAnimate 2s;
	        animation: widthAnimate 2s;
	height: 200px;
		background: rgba(0, 0, 255, 0.9)
}

.animateThis:before {
	content: 'world';
	color: #fff;
}

.box p:nth-of-type(1){
				margin:  10px 15px 20px 25px;
			}

.box p:nth-of-type(2){
				margin:  10px 15px 20px 25px;
			}

.box p:nth-of-type(3){
				margin:  10px 15px 20px 25px;
			}

.box p:nth-of-type(4){
				margin:  10px 15px 20px 25px;
			}

.box p:nth-of-type(5){
				margin:  10px 15px 20px 25px;
			}

.icon-twitter {
		background: url('./imag/twitter.png');
	}

.icon-facebook {
		background: url('./imag/facebook.png');
	}

.icon-toutube {
		background: url('./imag/toutube.png');
	}

.button.twitter {
		background-image: url('./images/twitter.png');
		background-color: blue
	}

.button.facebook {
		background-image: url('./images/facebook.png');
		background-color: red
	}

.bule_button {
	background-color: blue;
}

.red_button {
	background-color: red;
}

.circle {
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	background-color: #c00;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 4rem 0 4rem 7rem;
	border-left-color: #c00;
}

.center-box {
	position: relative;
	height: 18rem;
	background: red;
}

.aciddc {
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
}

@media (max-width: 50rem){
	.column_one, .column_two {
		border: 0.0625rem solid #ccc;
	}
	.column_two {
		border-top: 0;
	}
	.column {
		width: 100%;
		float: none;
	}
}




